<div class="row">
	<div class="col-md-4">
		<fieldset>
			<legend>Log In</legend>
			<ul *ngIf="serverErrors">
				<li *ngFor="let error of serverErrors">{{error}}</li>
			</ul>
			<form (submit)="login()">
				<div class="row input-row">
					<div class="col-md-4">
						<label>Username</label>
					</div>
					<div class="col-md-8">
						<input name="username" type="text" [(ngModel)]="user.username">
					</div>
				</div>
				<div class="row input-row">
					<div class="col-md-4">
						<label>Password</label>
					</div>
					<div class="col-md-8">
						<input name="password" type="password" [(ngModel)]="user.password">
					</div>
				</div>
				<button type="submit">Login</button>
			</form>
		</fieldset>
		<p>Don't have an account? <a routerLink="/register">Sign up here</a></p>
	</div>
</div>

