<div class="row">
	<div class="col-md-12">
		<h1>Welcome to User Dashboard</h1>
		<p>
			This project was created in the Coding Dojo online cohort which
			began February 2017.
		</p>
		<p>
			<a routerLink="/register">Start Here</a>
		</p>
		<!--p>
			<a routerLink="/goes-nowhere">This link goes nowhere and causes an error!</a>
		</p-->
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Connect</h3>
		<p>Find other users you know and add them as friends to communicat with them.</p>
	</div>
	<div class="col-md-4">
		<h3>Communicate</h3>
		<p>Create message threads between yourself and other users, and leave comments</p>
	</div>
	<div class="col-md-4">
		<h3>Realtime</h3>
		<p>All changes made to data are reflected to all users in realtime via socket.io</p>
	</div>
</div>
