<div class="row">
	<div class="col-md-12">
		<h1>Welcome to User Dashboard</h1>
		<p>
			This project was created in the Coding Dojo online cohort which
			began February 2017.
		</p>
		<p>
			<a routerLink="/register">Start Here</a>
		</p>
		<p>
			<a routerLink="/goes-nowhere">This link goes nowhere and causes an error!</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Manage Users</h3>
		<p>Use this application to add and remove users to the user database.</p>
	</div>
	<div class="col-md-4">
		<h3>Leave Messages</h3>
		<p>Users will be able to leave messages for each other.</p>
	</div>
	<div class="col-md-4">
		<h3>Edit Profiles</h3>
		<p>Users may edit their own profile and admins may edit any user's profile</p>
	</div>
</div>
