<div class="row">
	<div class="col-md-12">
		<h1>{{user.firstName}} {{user.lastName}}</h1>
		<div class="col-md-12" *ngIf="!isFriend && !isSelf">
			<p>You are not friends with {{user.firstName}}!</p>
			<p>You will need to add {{user.firstName}} as a friend to send messages!</p>
		</div>
		<app-show-profile
			[user]="user">
		</app-show-profile>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<app-post-message *ngIf="isFriend" 
			[messageTo]="user._id"
			(messagePosted)="showNewMessage($event)">
		</app-post-message>
	</div>
</div>
<div class="row" *ngFor="let message of user.messages">
	<div class="col-md-9 ml-auto">
		<app-show-message
			[message]="message"
			(messageDeleted)="removeDeletedMessage($event)">
		</app-show-message>
	</div>
	<!--div class="col-md-3">
		<app-message-actions [message]="message"></app-message-actions>
	</div-->
</div>
